---
# common shell stuff
- name: create sources dir
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.sources"
    state: directory
    mode: 0755

# bash
- name: copy bashrc
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.copy:
    src: bashrc
    dest: "{{ ansible_facts['env']['HOME'] }}/.bashrc"
- name: update bash_profile
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.template:
    src: bash_profile.j2
    dest: "{{ ansible_facts['env']['HOME'] }}/.bash_profile"
- name: add ubuntu path
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.lineinfile:
    dest: "{{ ansible_facts['env']['HOME'] }}/.bash_profile"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - { regexp: "PATH=", line: 'PATH="$HOME/bin:$HOME/.local/bin:$PATH"' }
- name: enable vi option
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.lineinfile:
    dest: "{{ ansible_facts['env']['HOME'] }}/.bash_profile"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - { regexp: "set -o", line: "set -o vi" }

# zsh
- name: clone oh-my-zsh
  when:
    - ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.git:
    repo: https://github.com/robbyrussell/oh-my-zsh.git
    dest: "{{ ansible_facts['env']['HOME'] }}/.oh-my-zsh"
    depth: 1
    update: true
- name: clone PowerLevel10k theme
  when:
    - ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k
    dest: "{{ ansible_facts['env']['HOME'] }}/.oh-my-zsh/custom/powerlevel10k"
    update: true
- name: copy zprofile
  when:
    - ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.copy:
    src: zprofile
    dest: "{{ ansible_facts['env']['HOME'] }}/.zprofile"
- name: copy zshrc
  when:
    - ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.copy:
    src: zshrc
    dest: "{{ ansible_facts['env']['HOME'] }}/.zshrc"

# mcfly
- name: install mcfly on macOS
  when:
    - ansible_facts['os_family'] == 'Darwin'
  community.general.homebrew:
    name: mcfly
    state: latest
- name: download mcfly installer on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/cantino/mcfly/master/ci/install.sh
    dest: /tmp/mcfly-install.sh
    mode: 0755
- name: install mcfly on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.command: /tmp/mcfly-install.sh --git cantino/mcfly --force
  args:
    creates: "{{ ansible_facts['env']['HOME'] }}/.local/bin/mcfly"
  become: true
- name: copy mcfly source for bash
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.copy:
    src: mcfly-source-bash
    dest: "{{ ansible_facts['env']['HOME'] }}/.sources/mcfly"
- name: copy mcfly source for zsh
  when:
    - ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.copy:
    src: mcfly-source-zsh
    dest: "{{ ansible_facts['env']['HOME'] }}/.sources/mcfly"

# httpie
- name: install HTTPie on macOS
  when:
    - ansible_facts['os_family'] == 'Darwin'
  community.general.homebrew:
    name: httpie
    state: latest
- name: install HTTPie on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.apt:
    name: httpie
    state: present
  become: true

# btop
- name: install btop on macOS
  when:
    - ansible_facts['os_family'] == 'Darwin'
  community.general.homebrew:
    name: btop
    state: latest
- name: install btop on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.apt:
    name: btop
    state: present
  become: true
