colorscheme desert
set tabstop=4 shiftwidth=4 expandtab
set hlsearch

autocmd BufWrite *.rb :call DeleteTrailingWS()
autocmd Filetype yaml setlocal expandtab tabstop=2 shiftwidth=2 softtabstop=2
autocmd Filetype yml setlocal expandtab tabstop=2 shiftwidth=2 softtabstop=2
autocmd BufWrite *.c :call DeleteTrailingWS()
autocmd Filetype tf setlocal expandtab tabstop=2 shiftwidth=2 softtabstop=2

call plug#begin('~/.vim/plugged')
{% for plugin in vim_plugins %}
Plug '{{plugin["plug"]}}', { 'branch': '{{plugin["branch"]}}' }
Plug 'mhinz/vim-startify'
Plug 'nvim-lua/plenary.nvim'
Plug 'nvim-telescope/telescope.nvim', { 'branch': '0.1.x' }
Plug 'nvim-tree/nvim-web-devicons'
Plug 'nvim-tree/nvim-tree.lua'
{% endfor %}
call plug#end()

" Python-mode preferences
let g:pymode_rope = 0
let g:pymode_lint_on_write = 1
let g:pymode_lint_checkers = ['pep8']
let g:pymode_doc = 1
let g:pymode_doc_bind = 'K'
