colorscheme desert
set tabstop=4 shiftwidth=4 expandtab
set hlsearch

" Delete trailing white space on save, useful for Python and CoffeeScript ;)
func! DeleteTrailingWS()
   exe "normal mz"
   %s/\s\+$//ge
   exe "normal `z"
endfunc
autocmd BufWrite *.py :call DeleteTrailingWS()
autocmd BufWrite *.rb :call DeleteTrailingWS()
autocmd BufWrite *.yaml :call DeleteTrailingWS()
autocmd BufWrite *.c :call DeleteTrailingWS()

call plug#begin('~/.vim/plugged')
{% for plugin in vim_plugins %}
Plug '{{plugin["plug"]}}', { 'branch': '{{plugin["branch"]}}' }
{% endfor %}
call plug#end()

" Python-mode preferences
let g:pymode_rope = 0
let g:pymode_lint_on_write = 1
let g:pymode_lint_checkers = ['pep8']
let g:pymode_doc = 1
let g:pymode_doc_bind = 'K'
