---
# kubectl (required)
- name: Create kube dir
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.kube"
    state: directory
    mode: 0755

# kubectl installation
- name: Install kubectl on macOS
  when:
    - ansible_facts['os_family'] == 'Darwin'
  community.general.homebrew:
    name: kubectl
    state: present
- name: Install kubectl on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.apt:
    name: kubectl
    state: present
  become: true

# kube-ps1
- name: Install kube-ps1 on macOS
  when:
    - ansible_facts['os_family'] == 'Darwin'
  community.general.homebrew:
    name: kube-ps1
    state: present
- name: Copy kube-ps1 script on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.copy:
    src: kube-ps1.sh
    dest: /usr/local/bin/kube-ps1.sh
    mode: 0755
  become: true

# kube bash stuff
- name: copy kube source for bash
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.copy:
    src: kube-source-bash
    dest: "{{ ansible_facts['env']['HOME'] }}/.sources/kube"
    mode: 0644

# kube zsh stuff
- name: copy kube source for zsh
  when:
    - ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.copy:
    src: kube-source-zsh
    dest: "{{ ansible_facts['env']['HOME'] }}/.sources/kube"
    mode: 0644

# kubectx
- name: Install kubectx on macOS
  when:
    - ansible_facts['os_family'] == 'Darwin'
  community.general.homebrew:
    name: kubectx
    state: present
- name: Copy kubectx script on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.copy:
    src: kubectx
    dest: /usr/local/bin/kubectx
    owner: root
    group: root
    mode: 0755
  become: true

# kubens
- name: Install kubens on macOS
  when:
    - ansible_facts['os_family'] == 'Darwin'
  community.general.homebrew:
    name: kubectx
    state: present
- name: Copy kubens script on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.copy:
    src: kubens
    dest: /usr/local/bin/kubens
    owner: root
    group: root
    mode: 0755
  become: true

# kubetail
- name: Install kubetail on macOS
  when:
    - ansible_facts['os_family'] == 'Darwin'
  community.general.homebrew:
    name: johanhaleby/kubetail/kubetail
    state: present
- name: Copy kubetail script on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.copy:
    src: kubetail
    dest: /usr/local/bin/kubetail
    owner: root
    group: root
    mode: 0755
  become: true

# k9s
- name: Install k9s on macOS
  when:
    - ansible_facts['os_family'] == 'Darwin'
  community.general.homebrew:
    name: k9s
    state: present
- name: Detect architecture for k9s on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.set_fact:
    k9s_arch: "{{ 'amd64' if ansible_facts['architecture'] == 'x86_64' else 'arm64' }}"
- name: Download k9s on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.unarchive:
    src: "https://github.com/derailed/k9s/releases/download/v{{ k9_version }}/k9s_Linux_{{ k9s_arch }}.tar.gz"
    dest: /tmp
    remote_src: true
    creates: /usr/local/bin/k9s
- name: Install k9s binary on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.copy:
    src: /tmp/k9s
    dest: /usr/local/bin/k9s
    remote_src: true
    owner: root
    group: root
    mode: 0755
  become: true
- name: Clean up k9s temp files on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.file:
    path: /tmp/k9s
    state: absent

# neat-diff
- name: Detect architecture for neat-diff on macOS
  when:
    - ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.set_fact:
    ndiff_arch: "{{ 'arm64' if ansible_facts['architecture'] == 'arm64' else 'amd64' }}"
- name: Download neat-diff on macOS
  when:
    - ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.get_url:
    url: "https://github.com/sh0rez/kubectl-neat-diff/releases/download/v{{ ndiff_version }}/kubectl-neat-diff-darwin-{{ ndiff_arch }}"
    dest: /usr/local/bin/kubectl-neat-diff
    mode: 0755
  become: true
- name: Detect architecture for neat-diff on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.set_fact:
    ndiff_arch: "{{ 'amd64' if ansible_facts['architecture'] == 'x86_64' else 'arm64' }}"
- name: Download neat-diff on Ubuntu
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.get_url:
    url: "https://github.com/sh0rez/kubectl-neat-diff/releases/download/v{{ ndiff_version }}/kubectl-neat-diff-linux-{{ ndiff_arch }}"
    dest: /usr/local/bin/kubectl-neat-diff
    mode: 0755
  become: true
