---
- name: Download and Deploy git-prompt.sh
  get_url:
    url: https://raw.githubusercontent.com/stockhausenj/git/master/contrib/completion/git-prompt.sh
    dest: $HOME/.git-prompt.sh
- name: Deploy gitconfig
  template:
    src: gitconfig.j2
    dest: $HOME/.gitconfig
- name: Install silversearcher-ag
  apt:
    name: silversearcher-ag
  become: true
