---
# vim - ubuntu
- name: Create .vim Directory
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.vim"
    state: directory
    mode: '0755'
- name: Create .vim Directories
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.vim/{{ item }}"
    state: directory
    mode: '0755'
  with_items:
    - autoload
    - colors

# nvim - ubuntu
- name: Download latest stable Neovim release
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.get_url:
    url: "https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.tar.gz"
    dest: /tmp/nvim-linux64.tar.gz
    mode: '0644'
- name: Extract Neovim binary
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.unarchive:
    src: /tmp/nvim-linux64.tar.gz
    dest: /opt
    remote_src: true
  become: true
- name: Ensure correct permissions on Neovim binary
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.file:
    path: /opt/nvim-linux64/bin/nvim
    mode: "0755"
    state: file
  become: true
- name: Create symlink for nvim
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.file:
    src: /opt/nvim-linux64/bin/nvim
    dest: /usr/bin/nvim
    state: link
  become: true
- name: Install fd-find
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.apt:
    name: fd-find
    state: present
  become: true
- name: Install ripgrep
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.apt:
    name: ripgrep
    state: present
  become: true
- name: Install luarocks
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
  ansible.builtin.apt:
    name: luarocks
    state: present
  become: true

# nvim - Darwin
- name: brew install Neovim stuff
  when:
    - ansible_facts['os_family'] == 'Darwin'
  community.general.homebrew:
    name:
      - neovim
      - luarocks
      - ripgrep
      - fd
      - node
      - sqlfluff
      - go
      - gopls
      - fzf
    state: latest
- name: check if LazyVim init.lua exists
  when:
    - ansible_facts['os_family'] == 'Darwin'
  ansible.builtin.stat:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/init.lua"
  register: lazyvim_init_exists
- name: Remove incomplete nvim directory if LazyVim not installed
  when:
    - ansible_facts['os_family'] == 'Darwin'
    - not lazyvim_init_exists.stat.exists
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/nvim"
    state: absent
- name: clone LazyVim into the Neovim config directory
  when:
    - ansible_facts['os_family'] == 'Darwin'
    - not lazyvim_init_exists.stat.exists
  ansible.builtin.git:
    repo: https://github.com/LazyVim/starter
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/nvim"
    update: true
    force: true

# nvim all
- name: Ensure nvim config directory structure exists
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/lua/{{ item }}"
    state: directory
    mode: 0755
  loop:
    - plugins
    - config

- name: Copy neo-tree.lua to nvim plugins diretory
  ansible.builtin.copy:
    src: nvim/lua/plugins/neo-tree.lua
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/lua/plugins/neo-tree.lua"
    mode: 0644
- name: Copy treesitter.lua to nvim plugins diretory
  ansible.builtin.copy:
    src: nvim/lua/plugins/treesitter.lua
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/lua/plugins/treesitter.lua"
    mode: 0644
- name: Copy python.lua to nvim plugins diretory
  ansible.builtin.copy:
    src: nvim/lua/plugins/python.lua
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/lua/plugins/python.lua"
    mode: 0644
- name: Copy javascript.lua to nvim plugins diretory
  ansible.builtin.copy:
    src: nvim/lua/plugins/javascript.lua
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/lua/plugins/javascript.lua"
    mode: 0644
- name: Copy lspconfig.lua to nvim plugins diretory
  ansible.builtin.copy:
    src: nvim/lua/plugins/lspconfig.lua
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/lua/plugins/lspconfig.lua"
    mode: 0644
- name: Copy dap.lua to nvim plugins diretory
  ansible.builtin.copy:
    src: nvim/lua/plugins/dap.lua
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/lua/plugins/dap.lua"
    mode: 0644
- name: Copy snacks.lua to nvim plugins diretory
  ansible.builtin.copy:
    src: nvim/lua/plugins/snacks.lua
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/lua/plugins/snacks.lua"
    mode: 0644
- name: Copy keymaps.lua to nvim config diretory
  ansible.builtin.copy:
    src: nvim/lua/config/keymaps.lua
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/lua/config/keymaps.lua"
    mode: 0644
- name: Copy options.lua to nvim config diretory
  ansible.builtin.copy:
    src: nvim/lua/config/options.lua
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/lua/config/options.lua"
    mode: 0644
- name: Copy autocmds.lua to nvim config diretory
  ansible.builtin.copy:
    src: nvim/lua/config/autocmds.lua
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/nvim/lua/config/autocmds.lua"
    mode: 0644
